.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  background: #fafafa;
  flex-direction: column;
}
 
.section{
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  background: #fafafa;
  flex-direction: column;
}
